# OS specific files
.DS_Store
Thumbs.db
desktop.ini

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.log
*.tmp
.temp/

# If you add any build process in the future
dist/
build/ 